<!DOCTYPE html> 
<html> 

<head>
<title>Remote Control</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet"  href="../static/css/jquery.mobile.min.css">
<link rel="stylesheet"  href="../static/css/navpanel.css">
<link rel="stylesheet"  href="../static/css/style.css">
<script src="../static/js/jquery.js"></script>

{% block head %}
{% endblock %}

<script src="../static/js/jquery.mobile.min.js"></script>

{% block mobilehead %}
{% endblock %}
  
</head>

<body>
<div data-role="page">
{% block content %}
{% endblock %}
</div>
</body>

<!-- REMOTE FOOTER -->

</html>
